<div class="category">
    <div class="d-flex">
        <h4><b>Spotify Playlists</b></h4>
        <a href="https://open.spotify.com/section/0JQ5DAuChZYPe9iDhh2mJz" class="show">Show all</a>
    </div>
    <div class="songs">
        <div class="card" *ngFor="let playlist of list">
            <img class="card-img-top" src={{playlist.img}} alt="Card image" (click)="redirect(playlist)" height="220px">
            <div class="card-body">
                <h5 class="card-title">{{playlist.title}}</h5>
                <p class="card-text">{{playlist.subtitle}}</p>
            </div>
        </div>
    </div>
</div>