<div class="footer-content">
    <div class="content">
        <h6>Company</h6>
        <a href="https://www.spotify.com/in-en/about-us/contact/">About</a>
        <a href="https://newsroom.spotify.com/">For the Record</a>
    </div>
    <div class="content">
        <h6>Communities</h6>
        <a href="">For Artists</a>
        <a href="https://developer.spotify.com/">Developers</a>
        <a href="">Advertising</a>
        <a href="">Investors</a>
        <a href="">Vendors</a>
    </div>
    <div class="content">
        <h6>Useful links</h6>
        <a href="https://support.spotify.com/in-en/">Support</a>
        <a href="https://www.spotify.com/in-en/free/">Mobile App</a>
    </div>
</div>
<hr>
<p class="copyright">© 2023 Spotify</p>