<div class="side-nav">
    <div class="contents">
        <a href=""><img src="./assets/logo.png" alt="" width="100px"></a>
        <div class="list">
            <div class="menu">
                <img src="./assets/home.png" alt="home">
                <a href="" class="active mx-3">Home</a>
            </div>
            <div class="menu">
                <img src="./assets/search.png" alt="search">
                <a href="" class="mx-3">Search</a>
            </div>
            <div class="menu">
                <img src="./assets/library.png" alt="library">
                <a href="" class="mx-3">Your Library</a>
            </div>
            <div class="play-like">
                <div class="menu">
                    <img src="./assets/playlist.png" alt="playlist">
                    <a href="" class="mx-3">Create Playlist</a>
                </div>
                <div class="menu">
                    <img src="./assets/liked.png" alt="liked">
                    <a href="" class="mx-3">Liked Songs</a>
                </div>
            </div>
    
        </div>
        <div class="bottom-nav">
            <p><a href="https://www.spotify.com/in-en/legal/cookies-policy/">Cookies</a></p>
            <button class="btn btn-outline-light rounded-5">
                English
            </button>
        </div>
    </div>
    
</div>